.custom-orange-btn {
  background-color: #451928; 
  color: #fff; 
  margin-bottom: '20px';
  float: right;
  font-size: 1.2rem;
  width: 140px;
  height: 37px;
  border-radius: 10px;
  border: none
}

.custom-green-btn {
  background-color: #5a9a29; 
  color: #fff; 
  margin-bottom: '20px';
  float: right;
  font-size: 1.2rem;
  width: 140px;
  height: 37px;
  border-radius: 10px;
  border: none
}
